@charset "UTF-8";

 
	/*recipe_list_css*/

	*{margin: 0;}
	
	div.recipe_header {

		margin-top:20px;
		text-align: center;
		border-top: 5px double #D2D2D2; padding-top: 10px;
		border-bottom: 5px double #D2D2D2; padding-bottom: 10px;
		width: 100%;
	}
	
	div.recipe_header>img {

		width: 100%;	
	}
	
	.purchasebtn button{
		  margin-top: 18px; 
		  margin-right: 200px;
	   }
	
	div.recipe_list {
		text-align: center;
		width: 100%;

	}
	
	div.imgcon_div {
		width: 100%;		
		margin-top: 77px;
		/* border: 1px solid red; */
		/* margin: 90 auto; */
		text-align: center;
		
	}
	
	
	div.imgcon_sc {
		display:inline-block;
  		width: 1150px; 
  		text-align: center;
  		/* border: 1px solid blue; */
  	}
  
	
	div.imgcon1, .imgcon2, .imgcon3, .imgcon4 {
		/* text-align: center; */
		
		display: inline-block;
/* 		width: 20%; */
		margin: 0 25px;
		margin-bottom: 40px;
		/* border: 1px solid red; */
	}
	
	div.imgcon_div2 {
		width: 100%;		
		margin-top:150px;
		/* border: 1px solid red; */
		/* margin: 90 auto; */
		text-align: center;
		
	}
		div.imgcon_sc2 {
		display:inline-block;
  		width: 1150px; 
  		text-align: center;
  		/* border: 1px solid blue; */
  		
  	}
	div.imgcon12 {
		/* text-align: center; */
		
		display: inline-block;
/* 		width: 20%; */
		margin: 0 25px;
		margin-bottom: 40px;
		/* border: 1px solid red; */
	}
	div.imgcon12>a{
		text-decoration: none;
		color: #583E32;
	}
	
	div.recipe_list {
		text-align: right;
		width: 100%;
	}
	
	div.list_div {
		text-align: right;
		width: 100%;

		
	}
	
	div.lioption_div {
		float: right;
		margin-top: 30px;
		margin-right: 200px;
	}
	
	div.lioption_div2 {
		width: 250px;
		margin: auto;
	}
	
	.lioption_sc {
		text-align: right;
  		width: 100%; 
  		margin: auto;
  	}
	
	div.optiondiv>ul.opli {
		text-align: right;
		margin-bottom: 40px;
		display: inline-block;
		width: 100%;
	}
	
	li {list-style: none;}
	
	
    .imgcon_div a {
    	text-decoration: none; 
    	color: #583E32;
    }
    
    .imgcon_div a:hover {
    	text-decoration: none; 
    	color: lightgray;
    }
    .imgcon_div2 a:hover {
    	text-decoration: none; 
    	color: lightgray;
    }
   
   .recipe_img:hover {
   		opacity: 30%;
   }
   
   .package_img:hover {
   		opacity: 30%;
   }
   
   /* 버튼 통일 */
	.w-btn-outline {
	    position: relative;
	    padding: 12px 25px;
	    border-radius: 15px;
	    font-family: "paybooc-Light", sans-serif;
	    text-decoration: none;
	    font-size: 15px;
	    font-weight: 600;
	    transition: 0.25s;
	}
	
	.w-btn-skin-outline {
	    border: 2px solid #D2D2D2;
	    color: #191919;
	    background-color: white;
	}
	
	.w-btn-skin-outline:hover {
     	background-color: #FFF2CC;
	    border: 2px solid #FFC000;
	    color: #FFC000;
	    cursor: pointer;
	}